/* 

body {
    background-color: lightblue;
}

h1 {
    color: purple;
    background-color: antiquewhite;
}

p {
    color: green;
} */




/* h1,
p {
    text-decoration: underline;
} */



































/* 
* {
    color: red;
}

h1 {
    background-color: antiquewhite;
}

.even {
    color: aqua;
}

#cancer {
    color: rebeccapurple;
} */






/* 
h1 {
    color: green;
}

h1 {
    color: blue
} */



h1 {
    color: green !important;
}

* {
    color: purple;
    background-color: aquamarine;
}

h1 {
    color: brown;
}