ol {
    list-style-type: lower-roman;
}

ul {
    /* list-style-type: square; */

    /* list-style-image: url("./images/skull.jpg"); */

    /* list-style-position: outside; */

    list-style: circle inside;
}



















body {
    font-family: Arial, Verdana, sans-serif;
    color: #111111;
}

table {
    width: 600px;
    /* empty-cells: hide; */
    /* border-spacing: 10px 25px; */
    /* border-spacing: 0; */
    /* border-collapse: collapse; */
}

th,
td {
    border: 1px solid black;
    padding: 7px 10px 10px 10px;
}

th {
    text-transform: uppercase;
    letter-spacing: 0.1em;
    font-size: 90%;
    border-bottom: 2px solid #111111;
    border-top: 1px solid #999;
    text-align: left;
}


tr.even {
    background-color: #efefef;
}

tr:hover {
    background-color: #c3e6e5;
}

.money {
    text-align: right;
}


a{
    /* cursor: all-scroll ; */
    cursor: url("images/myBall.cur"), all-scroll;
}