* {
    font-family: Arial, Verdana, sans-serif;
}

h1 {
    font-family: "Courier New", monospace;
}

i {
    color: green;
}

i {
    color: red;
}


b {
    color: pink;
}

p b {
    color: blue !important;
}

p b {
    color: green;
}